*__pycache__**
.env
.idea
terra.db
*.jpg
*.png
*.gif
# Исключаем временные и лог-файлы
*.log

# Исключаем конфигурационный файл, если он содержит чувствительные данные
alembic.ini

# Исключаем определенные файлы миграций (если необходимо)
versions/*.py
